/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body, a {
    height: 100%;
    font-family: 'Playfair Display', serif;
}

h1, h2, h3, h4, h5, {
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

.container {
	width: 800px;
	padding: 20px;
	margin: 0 auto;
	box-sizing: border-box;
	position: relative;
	/* border: 1px solid red; */
}
header {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-end;
	align-items: center;
	/* border: 1px solid green; */
}

.container header .main-nav{
	display: flex;
	justify-content: space-evenly;
	/* border: 1px solid blue; */
}

.container .main-nav a{
	padding: 25px;
	}

.main-section {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-top: 30px;
	/* border: 1px solid yellow; */
}
.main-section div{
	display: flex;
	justify-content: space-between;
	width: 50%;
	/* border: 1px solid blue; */
}

.main-section .innovation{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	font-size: 50px;
	
}

.main-section .innovation button {
	background-color: white;
	display: block;
	margin: auto;
	margin-top: 20px;
	font-size: 24px;
	width: 150px;
}

.section2 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* border: 1px solid red; */
}

.middle-img {
	display: block;
	width: 100%;
	margin: 30px 0;
}

.section3 {
	display: flex;
	justify-content: space-between;
}

hr {
    display: block;
	border-top: 1px solid black;
	margin: 30px 0;
}

footer {
	text-align: center;
	margin-top: 30px;
}

.container .services-header-img {
	display: block;
	width: 100%;
	margin-bottom: 20px;
	/* border: 10px solid yellow; */
}

 .services-main h1 {
	font-size: 40px;
	padding-bottom: 10px;
}

.services-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* border: 1px solid yellow; */
	flex-wrap: wrap;
}

.services-block div {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	border: 1px solid black;
	background-color: lightgrey;
	width: 48%;
	padding: 15px;
	margin: 15px 0;
}

h3 {
	font-size: 1.55em;
	padding-bottom: 15px;
}
button {
	display: flex;
	background-color: white;
	border-radius: 10%;
	width: 100px;
	margin-top: 10px;
}

.services-bottom {
	display: flex;
	justify-content: space-between;
	/* border: 1px solid red; */
}

.services-bottom div {
	display: flex;
	flex-direction: column;
	/* border: 1px solid blue; */
	width: 48%;
}

ul {
	list-style-type: square;
	padding-left: 20px;
	margin-top: 20px;
}

li {
	margin-bottom: 15px;
}
